body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 22%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #555;
    display: block;
    text-align: center;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #777;
}

.container {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
}
